<h3>Post a Attachment</h3>

<%= form_for [ @article, @attachment ] do |f| %>
    <p>
        <%= f.label :image, "Attach a New Image" %><br />
        <%= f.file_field :image %>
    </p>
    <p>
    <%= f.submit %>
    </p>
<% end %>